In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('../input/city_income2.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 9

In [5]:
df.head()

,調査年 コード,調査年,地域 コード,地域,/項目,C120110_課税対象所得【千円】,注釈,C120120_納税義務者数（所得割）【人】,注釈.1
0,2018100000,2018年度,1100,北海道 札幌市,NaN,2765204529,NaN,878047,NaN
1,2018100000,2018年度,1202,北海道 函館市,NaN,309138713,NaN,110159,NaN
2,2018100000,2018年度,1203,北海道 小樽市,NaN,121623457,NaN,47519,NaN
3,2018100000,2018年度,1204,北海道 旭川市,NaN,398298889,NaN,141786,NaN
4,2018100000,2018年度,1205,北海道 室蘭市,NaN,102405024,NaN,35533,NaN

In [6]:
df.shape

(1741, 9)

In [8]:
df.columns = ['code', 'year','dist_code','koumoku', 'dist_name', 'income','momo','num_of_sample','misc']

In [9]:
df.head()

,code,year,dist_code,koumoku,dist_name,income,momo,num_of_sample,misc
0,2018100000,2018年度,1100,北海道 札幌市,NaN,2765204529,NaN,878047,NaN
1,2018100000,2018年度,1202,北海道 函館市,NaN,309138713,NaN,110159,NaN
2,2018100000,2018年度,1203,北海道 小樽市,NaN,121623457,NaN,47519,NaN
3,2018100000,2018年度,1204,北海道 旭川市,NaN,398298889,NaN,141786,NaN
4,2018100000,2018年度,1205,北海道 室蘭市,NaN,102405024,NaN,35533,NaN

In [12]:
df.drop(['code', 'year','dist_name','momo'], axis=1, inplace=True)

In [14]:
df.drop(['misc'], axis=1,inplace=True)

In [15]:
df['mean_income'] = df['income']/df['num_of_sample']

In [16]:
df.head()

   dist_code  koumoku      income  num_of_sample  mean_income
0       1100  北海道 札幌市  2765204529         878047  3149.267100
1       1202  北海道 函館市   309138713         110159  2806.295564
2       1203  北海道 小樽市   121623457          47519  2559.470044
3       1204  北海道 旭川市   398298889         141786  2809.155269
4       1205  北海道 室蘭市   102405024          35533  2881.969549

In [23]:
tmm =df.sort_values(by='mean_income', ascending=False)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dist_code      1741 non-null   int64
 1   koumoku        1741 non-null   object
 2   income         1741 non-null   int64
 3   num_of_sample  1741 non-null   int64
 4   mean_income    1741 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 68.1+ KB

In [20]:
pd.set_option('display.max_columns', 100)

In [25]:
tmm.head(50)

      dist_code   koumoku      income  num_of_sample   mean_income
629       13103    東京都 港区  1592760255         141396  11264.535454
627       13101  東京都 千代田区   362690825          36299   9991.758037
639       13113   東京都 渋谷区  1119013391         131459   8512.261549
112        1511   北海道 猿払村    10343833           1351   7656.427091
1161      28206   兵庫県 芦屋市   289990028          44417   6528.807168
628       13102   東京都 中央区   604855042          93465   6471.460354
636       13110   東京都 目黒区   982732740         159730   6152.461904
631       13105   東京都 文京区   738614951         120604   6124.298954
400        7545   福島県 大熊町    20224352           3597   5622.561023
638       13112  東京都 世田谷区  2708792374         488851   5541.141113
630       13104   東京都 新宿区   994411782         182956   5435.251000
652       13203  東京都 武蔵野市   414980302          77328   5366.494698
824       19424   山梨県 忍野村    23694723           4652   5093.448624
635       13109   東京都 品川区  1073975422         223213   4811.437604
1175      28221   兵庫県 篠山市    84399691          17681   4773.468186
641       13115   東京都 杉並区  1506956630         316904   4755.246478
694       14204  神奈川県 鎌倉市   399104989          84511   4722.521198
1590      43424   熊本県 小国町    12315818           2664   4623.054805
141        1585   北海道 安平町    15565025           3385   4598.234860
708       14301  神奈川県 葉山町    67831152          14844   4569.600647
653       13204   東京都 三鷹市   436213858          96620   4514.736680
597       12227   千葉県 浦安市   400981804          89066   4502.074911
664       13215   東京都 国立市   169065544          37926   4457.774192
1159      28204   兵庫県 西宮市   972466264         219599   4428.372916
698       14208  神奈川県 逗子市   123698748          28083   4404.755475
642       13116   東京都 豊島区   694560663         158352   4386.181816
634       13108   東京都 江東区  1180594120         271463   4349.005647
663       13214  東京都 国分寺市   273133823          63001   4335.388692
1021      23238  愛知県 長久手市   118231681          27641   4277.402446
637       13111   東京都 大田区  1700157096         398541   4265.952803
1115      27203   大阪府 豊中市   761212340         178705   4259.602921
1132      27220   大阪府 箕面市   257658670          60547   4255.515054
1019      23236  愛知県 みよし市   123544714          29144   4239.113162
632       13106   東京都 台東区   453906868         107318   4229.550197
659       13210  東京都 小金井市   264998919          62657   4229.358555
646       13120   東京都 練馬区  1553721978         369893   4200.463318
1013      23230   愛知県 日進市   180055970          43244   4163.721441
1117      27205   大阪府 吹田市   707392008         170235   4155.385250
640       13114   東京都 中野区   773328860         186104   4155.358617
657       13208   東京都 調布市   499118014         120733   4134.064539
1168      28214   兵庫県 宝塚市   421856477         102869   4100.909672
689       14100  神奈川県 横浜市  7520547927        1849393   4066.495292
1204      29209   奈良県 生駒市   216898477          53352   4065.423546
695       14205  神奈川県 藤沢市   843094186         208510   4043.423270
672       13225   東京都 稲城市   175678622          43618   4027.663396
690       14130  神奈川県 川崎市  3156225588         783644   4027.626815
994       23210   愛知県 刈谷市   310108738          77081   4023.154059
421        8220  茨城県 つくば市   428973366         106831   4015.439021
984       23100  愛知県 名古屋市  4437757634        1109036   4001.454988
710       14341  神奈川県 大磯町    60076016          15190   3954.971429